.login-container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url('../../assets/login-bg.svg') no-repeat center;
}

.logo-wrapper {
  text-align: center;
  padding: 15px 0;
}
